* {
  box-sizing: border-box;
}

html {
  background-color: #f1f1f1;
  font-family: sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 90ch;
  padding: 16px 16px 0 16px;
  line-height: 1.5;
  border-style: none;
}

main {
  flex: 1;
}

h1 {
  margin: 1rem 0;
}

a {
  text-decoration:underline;
  color: #213369;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

img {
  width: 100%; /* Prend toute la largeur */
  height: auto; /* Garde les proportions */
  max-width: 100%; /* Ne dépasse pas la largeur du conteneur */
  border-radius: 10px; /* Coins arrondis */
  object-fit: cover; /* Couvre le conteneur */
  filter: drop-shadow(0px 0px 2px #7d7d7d);
}


footer {
  display: flex;
  justify-content: center;
  position: relative;
}


/* Classes */

.info-note {
  font-size: 14px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 0.25rem;
  border: none;
  border-radius: 0;
  padding: .25em 0.5em;
  font-size: 1em;
}

.tags :hover,
.tags :focus {
  background-color: #cccccc;
  border-radius: 6px;
}

.dark .tags :hover,
.dark .tags :focus {
  background-color: #3e3e3e;
  border-radius: 6px;
}

/* Styles de la navigation */

header {  
  display: flex;
  justify-content: space-between; /* Sépare les 3 zones */
  align-items: center; /* Aligne verticalement */
  padding: 0;
  border-style: none;
  position: relative;
  z-index: 100;
}


/* icon theme */

#themeToggle {
  border: none;
  background: none;
  width: 30px;
  display: flex;
  flex: 1;
  cursor: pointer;
  padding: 0;
  z-index: 9999;
  position: relative;
  visibility: visible;
  opacity: 1;
}



.sun { 
  fill: #0c0c0c; 
  transition: fill 0.3s ease, opacity 0.3s ease;
}

.moon { 
  fill: transparent; 
  opacity: 0;
  transition: fill 0.3s ease, opacity 0.3s ease;
}

.dark .sun { 
  fill: transparent; 
  opacity: 0;
  transition: fill 0.3s ease, opacity 0.3s ease;
}

.dark .moon { 
  fill: #f1f1f1;
  opacity: 1;
  transition: fill 0.3s ease, opacity 0.3s ease;
}


/* hamburger */

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical */
  margin: auto;
  padding:0px 20px;
  
}


.hamburger .line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #1c1c1c;

}

.hamburger .line:last-child {
  margin-bottom: 0; /* Supprime la margin-bottom uniquement pour la dernière ligne */
}

/* logo */ 

.logo {
  display: flex;
  flex: 1;
  width: auto;
  font-size: larger;
}

.logo a {
  text-decoration: none;
  color: currentColor; /* Utilise la couleur du texte actuel */
}

/* nav */ 

nav {
  border-style: none;
}

.nav-links {
  width: 100%;
  background-color: #c3c3c3;
  display: none;
  margin-top: 0px;
  position: absolute;
  left: 0;
  top: 100%;
  height: 50vh;
  z-index: 1000;
  overflow-y: auto;
  margin-top: 20px; /* Espace entre le header et le menu */
  border-radius: 8px;
}

.nav-links a {
  display: flex;
  color: #1f1f1f;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;

}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  margin: 0 10%; /* Espace de 10% à gauche et à droite */
  padding: 0; /* Réinitialise le padding par défaut */
}

.expanded {
  display: unset;
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
}


/* desktop */

@media screen and (min-width: 636px) {
  
  .nav-links {
    display: flex;
    justify-content: center;
    position: static;
    width: 100%;
    background: none;
    height: auto;
    margin-top: 0px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px ;
    margin: 0;
    width: 100%;
    list-style: none;
  }

  .nav-links li {
    border-style: none;
    margin: 0;
    min-width: auto;
  }

  .nav-links a {
    display: flex;
    color: #1f1f1f;
    text-align: center;
    padding: 0 10px ;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-style: none;
  
  }

  header {  
    display: flex;
    justify-content: space-between; /* Sépare les 3 zones */
    align-items: center; /* Aligne verticalement */
    padding: 0px 0;
    border-style: none;
    position: relative;
    z-index: 100;
  }

  .hamburger, .close-menu-btn {
    display: none;
  }

}

/* theme dark */

html.dark {
  background-color: rgb(31, 31, 31);
  color: #f1f1f1;
}

html.dark a {
  text-decoration:none;
  color: #acc3f9;
}

.dark .nav-links a {
  color: #f1f1f1;
}

.dark .nav-links {
  width: 100%;
  background-color: #404040;
}

.dark .hamburger .line {
  
  background-color: #f1f1f1;

}

.dark .close-menu-btn {
  background-color: #404040;
  color: inherit;
}

@media screen and (min-width: 636px) {
  .dark .nav-links {
    background: none; /* Supprime le background */
  }
  .dark .nav-links a {
    text-decoration: none;
  }
}

html.dark .logo a {
  color: inherit; /* Adapte la couleur au thème sombre */
}

.dark .nav-links a:hover,
.nav-links a:focus {
  text-decoration:underline ;
  border-radius: 10px;
}

/* Bouton menu mobile */

.close-menu-btn {
  display: none; /* Caché par défaut */
  width: 100%; /* Prend toute la largeur */
  background-color: #c3c3c3; /* Même couleur que le menu mobile */
  border: none;
  padding: 10px;
  text-align: center; 
  font-size: 30px;
  cursor: pointer;
  position: sticky;
  top: 0%;
  z-index: 1001;
}

.nav-links.expanded .close-menu-btn {
  display: block; /* Affiche uniquement quand le menu est ouvert */
  border-radius: 0px;
}

