---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("notes");
const tags = [
  ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
];

const pageTitle = "Répertoire des étiquettes (tags)";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div>
    {
      tags.map((tag) => (
        <ul class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </ul>
      ))
    }
  </div>
</BaseLayout>
