---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection("notes");

const pageTitle = "Notes";

---
<BaseLayout pageTitle={pageTitle}>

    <h1>Toutes les notes</h1>
    
    <p><a href="/tags/">Étiquettes (tags)</a></p>
    
    <ul>
      {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)}
    </ul>
    
</BaseLayout>
