---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection("notes");

const pageTitle = "Notes";

// Trier du plus récent au plus ancien
const sortedPosts = allPosts.sort((a, b) => 
  new Date(b.data.pubDate) - new Date(a.data.pubDate)
);

// Fonction pour formater la date (mois et année)
function formatDate(dateString: string): string {
  const date = new Date(dateString);
  return date.toLocaleDateString('fr-FR', {
    year: 'numeric',
    month: '2-digit'
  });
}

---
<BaseLayout pageTitle={pageTitle}>

    <h1>Toutes les notes</h1>
    
    <p><a href="/tags/">Étiquettes (tags)</a></p>
    
    <ul>
      {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} date={formatDate(post.data.pubDate)}/>)}
    </ul>

    
    
</BaseLayout>
