---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Page d'accueil";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>Mon sous-titre de blog génial</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
    corporis explicabo, eos laudantium illo veritatis soluta harum temporibus,
    rerum nostrum, repellat itaque unde tempore vero assumenda delectus! Et,
    fuga ea.
  </p>

</BaseLayout>
