---
import Navigation from "./navigation.astro";
import Hamburger from "./hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
    <nav class="logo">ACME</nav>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
    <nav><ThemeIcon/></nav>
</header>